body{
	background-color: #424242;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;

}


#contenedor{  
		text-align:center;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#head{

	
	font-family: 'Crimson Text', serif; font-weight: 700; 
	padding-left: 4px;
	width:97%;
	height:20%;
	background-color: #646464;
	float: left;
	clear:both;
	margin-bottom: 2px;

}


#body1{
	padding-left: 4px;
	width:20%;
	height:70%;
	background-color: #098765;
	float: left;
	margin-right: 2px;
}

#body2{

	padding-left: 4px;
	width:38%;
	height:70%;
	background-color: #A4C9BF;
	float: left;
	margin-right: 2px;
}
#body3{
	padding-left: 4px;
	width:38%;
	height:70%;
	background-color: #055765;
	float: left;
}
#footer{
	padding-left: 4px;
	width:97%;
	height:10%;
	background-color: #646464;
	float: left;
	clear:both;
	

}

#box{
	text-align: right;
	width:600px;
	clear:both;
	float:left;
		}

#left{
	width:150px;
	float:left;
	clear:left;
	margin-right:10px;
}
#right{
	width:150px;
	float:left;
	clear:right;
}



.input{
	height:30px;
    width:150px;
    background:#FDFDFD;
    border:2px solid #A3F7E2;
    padding:10px;
    margin-top:5px;
    font-size:14px;

    color:#5B5F5E;
    box-shadow: 2px 2px 5px #999;
}
